venv/
cv-valid-dev/
cv-valid-test/


/asr/common_voice.zip
/asr/checkpoint.txt
/asr/checkpoint2.txt
/asr/read_checkpoint.py

/asr-train/wav2vec2-large-960h-cv.zip
/asr-train/wav2vec2-large-960h-cv/
/asr-train/load_model.py
/asr-train/evaluate_transcribed.py

/cv-valid-train.csv