cv-valid-dev/
venv/

/asr/common_voice.zip
/asr/checkpoint.txt
/asr/checkpoint2.txt
/asr/read_checkpoint.py

/asr-train/wav2vec2-large-960h-cv.zip
/asr-train/checkpoint-100/
/asr-train/load_model.py
/asr-train/evaluate_transcribed.py

/cv-valid-train.csv